* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  position: absolute;
  background-color: #ffa818;
  height: 5px;
  left: 0;
  right: 0;
  top: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* latin-ext */
@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sen/v9/6xK0dSxYI9_dkN18-vZKK2EISCq5L4fAlQ9q.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sen/v9/6xK0dSxYI9_dkN18-vZKK2EISCq5L4nAlQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.container {
  height: 100%;
  width: 100%;
  background-color: #030200;
}

.nav-bar {
  color: white;
}

.nav-bar nav {
  text-align: right;
}

.nav-bar nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8em;
  list-style: none;
  justify-content: flex-end;
  position: relative;
  top: 1.5em;
  right: 3rem;
  position: absolute;
}

.nav-bar nav ul li {
  font-size: 20px;
  text-transform: uppercase;
  font-family: sen;
  letter-spacing: 3px;
  position: relative;
}

.nav-bar nav ul li::after {
  content: "";
  height: 3px;
  position: absolute;
  background-color: orange;
  bottom: -5px;
  left: 0;
  right: 5px;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.3s ease;
}

.nav-bar nav ul li:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
  background-color: orange;
}

.name-section {
  position: absolute;
  text-transform: uppercase;
  line-height: 1.5;
}
.name-section .name {
  position: relative;
  top: 8em;
  left: 3.5em;
  font-size: 32px;
  font-family: sen;
}

#first-name {
  position: relative;
}

#first-name::after {
  content: "";
  position: absolute;
  background-color: #ffa818;
  height: 5px;
  left: 0;
  right: 14px;
  top: 1.4em;
}

.name-wrapper {
  position: relative;
  font-family: sen;
  font-size: 32px;
  line-height: 1.5;
}

.name {
  display: inline-block;
}

#messenger {
  position: relative;
}

#messenger::after {
  content: "";
  position: absolute;
  background-color: orange;
  height: 5px;
  left: 0;
  right: 14px;
  top: 1.4em;
}

.about {
  position: relative;
  top: 100%;
}
.about .about-container {
  height: 100vh;
  background-color: #030200;
}
.about .about-heading {
  color: #faf7f7;
  text-align: center;
  position: relative;
  top: 3.2%;
  font-size: 36px;
  text-transform: uppercase;
  font-family: sen;
  font-weight: 600;
  letter-spacing: 1px;
}
.about .about-heading::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 102, 0, 0.89);
  height: 5.5px;
  left: 43%;
  right: 43%;
  top: 1.2em;
}
.about .text {
  color: #fff;
  font-family: sen;
  font-size: 19px;
  text-align: center;
  margin-top: 2.1em;
  font-weight: 400;
  letter-spacing: 2px;
}

.pic-img {
  position: absolute;
  bottom: 2em;
  height: 75%;
  width: 24%;
  margin-left: 9rem;
  margin-bottom: 3em;
  filter: drop-shadow(0px 0px 40px rgb(45, 110, 110));
}

.about p {
  height: 300px;
  width: 700px;
  position: absolute;
  font-family: sen;
  bottom: 11rem;
  left: 25em;
  color: #fff;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.5px;
  text-align: start;
  word-wrap: break-word;
}
.about p .span-para {
  font-weight: 800;
}

.icons {
  display: flex;
  margin-left: 43em;
  gap: 100px;
  position: absolute;
  bottom: 5em;
  height: 2.7em;
}
.icons #github-link, .icons #linkedin-link, .icons #twitter-link {
  cursor: pointer;
}

.skills {
  position: relative;
  top: 100%;
}
.skills .skills-container {
  height: 100vh;
  width: 100%;
  background-color: #030200;
}
.skills .skills-heading {
  color: #faf7f7;
  text-align: center;
  position: relative;
  top: 8%;
  font-size: 36px;
  text-transform: uppercase;
  font-family: sen;
  font-weight: 600;
  letter-spacing: 1px;
}
.skills .skills-heading::after {
  content: "";
  position: absolute;
  background-color: #ffa818;
  height: 5.5px;
  left: 45.2%;
  right: 45.2%;
  top: 1.2em;
}

.skills-icons {
  margin-top: 10rem;
  text-align: center;
  height: 25em;
  margin-left: -13em;
}

#html-icon,
#css-icon,
#js-icon,
#sass-icon,
#github-icon,
#responsive-icon,
#tailwind-icon,
#ubantu-icon {
  height: 70px;
  margin-left: 12em;
}

#github-icon,
#responsive-icon,
#tailwind-icon,
#ubantu-icon {
  margin-top: 8rem;
}

.icon-name-1 {
  color: #f8f8f8;
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 3rem;
  position: relative;
  top: 6.7em;
  font-family: sen;
}

.icon-name-1 h3:nth-child(1) {
  margin-left: 22.8em;
}

.icon-name-1 h3:nth-child(2) {
  margin-left: 12.5em;
}

.icon-name-1 h3:nth-child(3) {
  margin-left: 10em;
}

.icon-name-1 h3:nth-child(4) {
  margin-left: 9.5em;
}

.icon-name-2 {
  color: #f8f8f8;
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 1.6rem;
  position: absolute;
  top: 34em;
  font-family: sen;
}

.icon-name-2 h3:nth-child(1) {
  margin-left: 23em;
}

.icon-name-2 h3:nth-child(2) {
  margin-left: 10.5em;
}

.icon-name-2 h3:nth-child(3) {
  margin-left: 10em;
}

.icon-name-2 h3:nth-child(4) {
  margin-left: 10em;
}

.project {
  position: relative;
  top: 100%;
}
.project .project-container {
  height: 280vh;
  background-color: #030200;
}
.project .project-heading {
  color: #faf7f7;
  text-align: center;
  position: relative;
  top: 2%;
  font-size: 36px;
  text-transform: uppercase;
  font-family: sen;
  font-weight: 600;
  letter-spacing: 1px;
}
.project .project-heading::after {
  content: "";
  position: absolute;
  background-color: #ffa818;
  height: 5.5px;
  left: 43.5%;
  right: 43.5%;
  top: 1.2em;
}

.porject-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10em 6em;
}

div .first-project {
  height: 28em;
  width: 80em;
  background-color: #030200;
  margin-top: 8em;
}

.first-project img {
  margin-top: -2em;
  height: 500px;
  width: 500px;
}

.project-content {
  color: #f8f8f8;
  float: right;
  margin-top: 3.5em;
  margin-right: 0em;
  text-transform: uppercase;
  font-family: sen;
  height: 350px;
  width: 580px;
}

.project-content h2,
.project-content p {
  letter-spacing: 1.5px;
  text-align: start;
}

.project-content h2 {
  font-size: 23.4px;
  line-height: 37.44px;
}

.project-content p {
  text-transform: capitalize;
  font-size: 20px;
  line-height: 32px;
}

.project-content p:nth-child(4) {
  margin-top: 0.6em;
  font-weight: 900;
}

.project-icon {
  display: flex;
  position: absolute;
  margin-top: -2em;
  height: 120px;
  width: 200px;
  margin-left: 0.3em;
  gap: 1em;
}

#second-icon {
  width: 150px;
  height: 130px;
}

.live-site {
  margin-top: 7em;
  font-size: 10px;
  letter-spacing: 1.5px;
  display: flex;
}

.live-site p {
  position: relative;
  cursor: pointer;
}
.live-site p:nth-child(1):hover::after {
  content: "";
  position: absolute;
  background-color: #ffa818;
  height: 5px;
  width: 110px;
  bottom: 0em;
  left: 2px;
  right: 43.5%;
}
.live-site p:nth-child(2) {
  margin-left: 8px;
  position: relative;
}
.live-site p:nth-child(2):hover::after {
  content: "";
  position: absolute;
  background-color: #ffa818;
  height: 5px;
  width: 83px;
  bottom: 0em;
  left: 2px;
  right: 43.5%;
}

.contact {
  position: relative;
  top: 100%;
}
.contact .contact-container {
  height: 100vh;
  width: 100%;
  background-color: #030200;
}
.contact .contact-heading {
  color: #faf7f7;
  text-align: center;
  position: relative;
  top: 1%;
  font-size: 36px;
  text-transform: uppercase;
  font-family: sen;
  font-weight: 600;
  letter-spacing: 1px;
}
.contact .contact-heading::after {
  content: "";
  position: absolute;
  background-color: #ffa818;
  height: 5.5px;
  left: 41.5%;
  right: 41.5%;
  top: 1.2em;
}

.form-container {
  margin-top: 2em;
  margin-left: 1.6em;
  height: 80vh;
  width: 95vw;
}
.form-container .form {
  height: 450px;
  width: 550px;
  margin: 2em 3em;
  font-family: sen;
}
.form-container .form input[type=text]:nth-child(1) {
  background-color: #ffffff;
  height: 40px;
  width: 41em;
  margin: 0.5em 0em;
  padding: 1em 1em;
  letter-spacing: 1.2px;
  outline: none;
  text-transform: uppercase;
}
.form-container .form input[type=text]:nth-child(1):focus {
  border: 2px solid #f06000;
}
.form-container .form input[type=email] {
  background-color: #ffffff;
  height: 40px;
  width: 41em;
  margin: 0.5em 0em;
  padding: 1em 1em;
  letter-spacing: 1.2px;
  outline: none;
  text-transform: uppercase;
}
.form-container .form input[type=email]:focus {
  border: 2px solid #f06000;
}
.form-container .form input::-moz-placeholder {
  font-size: 15px;
  font-weight: 500;
}
.form-container .form input::placeholder {
  font-size: 15px;
  font-weight: 500;
}
.form-container .form #message {
  background-color: #ffffff;
  height: 180px;
  width: 27.2em;
  margin: 0.5em 0em;
  outline: none;
  resize: none;
  overflow: auto;
  line-height: 1.3;
  text-align: left;
  resize: none;
  text-transform: uppercase;
  font-size: 20px;
}
.form-container .form #message:focus {
  border: 2px solid #f06000;
}
.form-container .form #message::-moz-placeholder {
  font-size: 1.2rem;
}
.form-container .form #message::placeholder {
  font-size: 1.2rem;
}
.form-container .form input[type=button] {
  background-color: #f06000;
  height: 50px;
  width: 13em;
  padding: 5px;
  margin: 0em 9em;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  border-radius: 5px;
  border: none;
  letter-spacing: 1.5px;
  font-family: sen;
}

.form-text {
  height: 310px;
  width: 580px;
  float: right;
  margin-top: -30em;
  margin-right: 5em;
}
.form-text p {
  color: #f8f8f8;
  font-size: 20px;
  line-height: 32px;
  text-align: start;
  letter-spacing: 1.5px;
  font-family: sen;
}
.form-text span {
  font-weight: 700;
  letter-spacing: 1.5px;
}
.form-text .copyright {
  color: #f8f8f8;
  margin-top: 8em;
  margin-left: -11em;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    color: white;
  }
  .nav-bar nav {
    text-align: right;
    display: none;
  }
  .nav-bar nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8em;
    list-style: none;
    justify-content: flex-end;
    position: relative;
    top: 1.5em;
    right: 3rem;
    position: absolute;
  }
  .nav-bar nav ul li {
    font-size: 20px;
    text-transform: uppercase;
    font-family: sen;
    letter-spacing: 3px;
    position: relative;
  }
  .nav-bar nav ul li::after {
    content: "";
    height: 3px;
    position: absolute;
    background-color: orange;
    bottom: -5px;
    left: 0;
    right: 5px;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.3s ease;
  }
  .nav-bar nav ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    background-color: orange;
  }
  .name-section {
    position: absolute;
    text-transform: uppercase;
    line-height: 1.5;
  }
  .name-section .name {
    position: relative;
    top: 8em;
    left: 2em;
    font-size: 20px;
    font-family: sen;
  }
  #first-name {
    position: relative;
  }
  #first-name::after {
    content: "";
    position: absolute;
    background-color: #ffa818;
    height: 5px;
    left: 0;
    right: 14px;
    top: 1.4em;
  }
  .name-wrapper {
    position: relative;
    font-family: sen;
    font-size: 32px;
    line-height: 1.5;
  }
  .name {
    display: inline-block;
  }
  #messenger {
    position: relative;
  }
  #messenger::after {
    content: "";
    position: absolute;
    background-color: orange;
    height: 5px;
    left: 0;
    right: 14px;
    top: 1.4em;
  }
  .about {
    position: relative;
    top: 100%;
  }
  .about .about-container {
    height: 140vh;
    background-color: #030200;
  }
  .about .about-heading {
    color: #faf7f7;
    text-align: center;
    position: relative;
    top: 2%;
    font-size: 36px;
    text-transform: uppercase;
    font-family: sen;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .about .about-heading::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 102, 0, 0.89);
    height: 5.5px;
    left: 24%;
    right: 24%;
    top: 1.2em;
  }
  .about .text {
    color: #fff;
    font-family: sen;
    font-size: 19px;
    text-align: center;
    margin-top: 2.1em;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .pic-img {
    position: absolute;
    top: 4em;
    height: 40%;
    width: 80%;
    margin-left: 2.5rem;
  }
  .about p {
    height: 500px;
    width: 322px;
    position: absolute;
    font-family: sen;
    bottom: 8rem;
    left: 1.5em;
    color: #fff;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 1.5px;
    text-align: center;
    word-wrap: break-word;
  }
  .about p .span-para {
    font-weight: 800;
  }
  .icons {
    display: flex;
    margin-left: 5em;
    gap: 40px;
    position: absolute;
    bottom: 4em;
  }
  .skills {
    position: relative;
    top: 100%;
  }
  .skills .skills-container {
    height: 100vh;
    width: 100%;
    background-color: #030200;
  }
  .skills .skills-heading {
    color: #faf7f7;
    text-align: center;
    position: relative;
    top: 8%;
    font-size: 36px;
    text-transform: uppercase;
    font-family: sen;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .skills .skills-heading::after {
    content: "";
    position: absolute;
    background-color: #ffa818;
    height: 5.5px;
    left: 33%;
    right: 33%;
    top: 1.2em;
  }
  .skills-icons {
    margin-top: 1rem;
    text-align: center;
    height: 25em;
    margin-left: -14em;
    height: 70px;
  }
  #html-icon,
  #js-icon,
  #tailwind-icon,
  #responsive-icon {
    margin-left: 14em;
    margin-top: 6em;
  }
  #css-icon,
  #sass-icon,
  #github-icon,
  #ubantu-icon {
    margin-left: 5.5em;
    margin-top: -1.5em;
  }
  .icon-name-1 {
    color: #f8f8f8;
    display: flex;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 2.8rem;
    position: absolute;
    top: 16em;
    left: 0em;
    font-family: sen;
    height: 14em;
    width: 18em;
  }
  .icon-name-1 h3:nth-child(1) {
    margin-left: 1.8em;
    margin-top: -4px;
  }
  .icon-name-1 h3:nth-child(2) {
    margin-left: 7em;
    margin-top: -5px;
  }
  .icon-name-1 h3:nth-child(3) {
    margin-top: 10em;
    margin-left: -13em;
    width: 120px;
    height: 20px;
    text-align: center;
    margin-top: 9.2em;
  }
  .icon-name-1 h3:nth-child(4) {
    margin-left: 4em;
    margin-top: 9.2em;
  }
  .icon-name-2 {
    color: #f8f8f8;
    display: flex;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: -5.7rem;
    position: absolute;
    top: 33.5em;
    font-family: sen;
  }
  .icon-name-2 h3:nth-child(1) {
    margin-left: 21.5em;
    margin-top: 4em;
  }
  .icon-name-2 h3:nth-child(2) {
    margin-left: 4.6em;
    margin-top: 4em;
  }
  .icon-name-2 h3:nth-child(3) {
    margin-left: -14.5em;
    margin-top: 13.6em;
  }
  .icon-name-2 h3:nth-child(4) {
    margin-left: 4.2em;
    margin-top: 13.6em;
  }
  .project {
    position: relative;
    top: 100%;
  }
  .project .project-container {
    height: 285vh;
    width: 100vw;
  }
  .project .project-heading {
    color: #faf7f7;
    text-align: center;
    position: relative;
    top: 1%;
    left: 25%;
    font-size: 36px;
    text-transform: uppercase;
    font-family: sen;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .project .project-heading::after {
    content: "";
    position: absolute;
    background-color: #ffa818;
    height: 5.5px;
    left: 3%;
    right: 3%;
    top: 1.2em;
  }
  .project-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0% 0%;
  }
  div .first-project {
    height: 40em;
    width: 20em;
    margin-top: 3em;
  }
  .first-project img {
    margin-top: -2em;
    height: 300px;
    width: 300px;
    margin-left: 2.5em;
  }
  .project-content {
    color: #f8f8f8;
    text-transform: uppercase;
    font-family: sen;
    height: 360px;
    width: 290px;
    position: relative;
    top: -8em;
    left: 1em;
  }
  .project-content h2,
  .project-content p {
    letter-spacing: 1.5px;
    text-align: start;
  }
  .project-content h2 {
    font-size: 23.4px;
    line-height: 37.44px;
    text-align: center;
    margin-top: 1em;
  }
  .project-content p {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 32px;
  }
  .project-content p:nth-child(4) {
    margin-top: 0.6em;
    font-weight: 900;
  }
  .project-icon {
    display: flex;
    position: absolute;
    margin-top: 0em;
    height: 90px;
    width: 210px;
    margin-left: 0%;
    gap: 1em;
  }
  #second-icon {
    width: 160px;
    height: 50px;
    margin-top: 1em;
  }
  .live-site {
    margin-top: 7em;
    font-size: 10px;
    letter-spacing: 1.5px;
    display: flex;
  }
  .live-site p {
    position: relative;
    cursor: pointer;
  }
  .live-site p:nth-child(1):hover::after {
    content: "";
    position: absolute;
    background-color: #ffa818;
    height: 4px;
    width: 102px;
    bottom: 0em;
    left: 0px;
    right: 0px;
  }
  .live-site p:nth-child(2) {
    margin-left: 8px;
    position: relative;
  }
  .live-site p:nth-child(2):hover::after {
    content: "";
    position: absolute;
    background-color: #ffa818;
    height: 4px;
    width: 78px;
    bottom: 0em;
    left: 2px;
    right: 43.5%;
  }
  .contact {
    position: relative;
    top: 100%;
  }
  .contact .contact-container {
    height: 118vh;
    width: 100%;
    background-color: #030200;
  }
  .contact .contact-heading {
    color: #faf7f7;
    text-align: center;
    position: relative;
    top: 1%;
    font-size: 36px;
    text-transform: uppercase;
    font-family: sen;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .contact .contact-heading::after {
    content: "";
    position: absolute;
    background-color: #ffa818;
    height: 5.5px;
    left: 18%;
    right: 18%;
    top: 1.2em;
  }
  .form-container {
    margin-top: 2em;
    margin-left: 1em;
    height: 100vh;
    width: 88vw;
    border: 0.1px solid black;
  }
  .form-container .form {
    height: 390px;
    width: 330px;
    margin: 29em 0em;
    font-family: sen;
  }
  .form-container .form input[type=text]:nth-child(1) {
    background-color: #ffffff;
    height: 40px;
    width: 24.5em;
    margin: 0.5em 0em;
    padding: 1em 1em;
    letter-spacing: 1.2px;
    outline: none;
    text-transform: uppercase;
  }
  .form-container .form input[type=text]:nth-child(1):focus {
    border: 2px solid #f06000;
  }
  .form-container .form input[type=email] {
    background-color: #ffffff;
    height: 40px;
    width: 24.5em;
    margin: 0.5em 0em;
    padding: 1em 1em;
    letter-spacing: 1.2px;
    outline: none;
    text-transform: uppercase;
  }
  .form-container .form input[type=email]:focus {
    border: 2px solid #f06000;
  }
  .form-container .form input::-moz-placeholder {
    font-size: 15px;
    font-weight: 500;
  }
  .form-container .form input::placeholder {
    font-size: 15px;
    font-weight: 500;
  }
  .form-container .form #message {
    background-color: #ffffff;
    height: 120px;
    width: 16.5em;
    margin: 0.5em 0em;
    outline: none;
    resize: none;
    overflow: auto;
    line-height: 1.3;
    text-align: left;
    resize: none;
    text-transform: uppercase;
    font-size: 20px;
  }
  .form-container .form #message:focus {
    border: 2px solid #f06000;
  }
  .form-container .form #message::-moz-placeholder {
    font-size: 1.2rem;
  }
  .form-container .form #message::placeholder {
    font-size: 1.2rem;
  }
  .form-container .form input[type=button] {
    background-color: #f06000;
    height: 30px;
    width: 10em;
    padding: 5px;
    margin: 0em 5.9em;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    border-radius: 5px;
    border: none;
    letter-spacing: 1.5px;
    font-family: sen;
  }
  .form-text {
    height: 430px;
    width: 325px;
    margin-top: -80em;
    margin-right: 0em;
  }
  .form-text p {
    color: #f8f8f8;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: sen;
  }
  .form-text span {
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 17px;
  }
  .form-text .copyright {
    color: #f8f8f8;
    margin-top: 19em;
    margin-left: -0.8em;
    font-size: 18px;
  }
}
@media screen and (min-width: 1920px) {
  .pic-img {
    position: absolute;
    bottom: 10em;
    height: 65%;
    width: 22%;
    margin-left: 20rem;
  }
  .about p {
    position: absolute;
    font-family: sen;
    bottom: 25rem;
    left: 40em;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
  }
  .icons {
    display: flex;
    margin-left: 65em;
    gap: 80px;
    position: absolute;
    bottom: 16em;
  }
  .about .about-heading::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 102, 0, 0.89);
    height: 5.5px;
    left: 44.7%;
    right: 44.7%;
    top: 1.2em;
  }
  .skills {
    position: relative;
    top: 100%;
  }
  .skills .skills-container {
    height: 100vh;
    width: 100%;
  }
  .skills .skills-heading::after {
    content: "";
    position: absolute;
    background-color: #ffa818;
    height: 5.5px;
    left: 46.5%;
    right: 46.5%;
    top: 1.2em;
  }
  .icon-name-1 {
    margin-left: 20rem;
  }
  .icon-name-2 {
    margin-left: 18.6rem;
  }
  .project .project-container {
    background-color: #030200;
  }
  .project .project-heading::after {
    left: 45.2%;
    right: 45.2%;
  }
  div .first-project {
    height: 28em;
    width: 80em;
    margin-left: 18em;
    margin-top: 5em;
  }
}/*# sourceMappingURL=style.css.map */